<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
</head>
<body>
<section>

  <div class="card mr-3 ml-3">

    <div class="card-body">

      <h1 class="text-center">Update User Details </h1>

      <div class="container-fluid mt-1"></div>

      <div class="row">

        <div class="col-md-8 offset-md-2">

          <form novalidate
                action="#"
                th:object="${user}"
                enctype="multipart/form-data"
                method="POST"
                th:action="@{/user/process-update-user}"
                class="mt-2"
          >

            <input type="hidden" th:value="${user.id}" name="id" />

            <!-- First Name -->

            <div class="input-group">

              <div class="input-group-prepend">

                <div class="input-group-text">

                  <i class="fa fa-plus"></i>

                </div>

              </div>

              <input type="text"
                     id="firstName"
                     name="name"
                     placeholder="Enter Name here"
                     required="required"
                     class="form-control"
                     th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                     th:value="${user.name}"
              />

              <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
                YO stupid!
              </div>

            </div>

<!--            &lt;!&ndash; Email &ndash;&gt;-->

<!--            <div class="input-group">-->

<!--              <div class="input-group-prepend">-->

<!--                <div class="input-group-text">-->

<!--                  @-->

<!--                </div>-->

<!--              </div>-->

<!--              <input type="email"-->
<!--                     id="email"-->
<!--                     name="email"-->
<!--                     placeholder="Enter email here"-->
<!--                     required="required"-->
<!--                     class="form-control"-->
<!--                     th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"-->
<!--                     th:value="${user.email}"-->
<!--              />-->

<!--              <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">-->

<!--              </div>-->

<!--            </div>-->

            <!-- Contact Description -->

            <div class="form-group mt-3">

                           <textarea name="about"
                                     placeholder="Enter contact description"
                                     id="about"
                                     class="form-control"
                                     rows="10"
                                     th:text="${user.about}"
                           >

                           </textarea>

            </div>

            <!-- Contact Image -->

            <div class="container text-center">
              <img style="width: 250px; height: 250px;" class="img-fluid my_profile_picture" src="" th:src="@{'/img/'+${user.imageUrl}}" alt="">
            </div>

            <i>Choose new profile pic</i>

            <div class="custom-file mt-2">
              <input type="file" name="profileImage" />

            </div>

            <div style="color:rgb(0, 150, 136) !important;" class="container text-center">

              <button style="background-color:black; color:white" class="btn btn-outline-primary">Save Contact</button>

            </div>


          </form>

        </div>

      </div>

    </div>

  </div>

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
      tinymce.init({
        selector: '#about'
      });
    </script>

</section>

</body>
</html>