<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>this is About Page</title>
</head>
<body>
<section class="aboutUs d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">About Us</h1><br>
        <p>
            This project is made for learning purpose.
            <br>So that I can get better clarity on Spring and SpringBoot concepts. It's a basic project but has real-time project features.
            <br>MySql database is used in this project and for front-end html, css , js and thymeleaf is used. For back-end Spring
            <br>concepts and Spring Boot concepts. Thymeleaf is used for fetching data from front-end dynamically.
            <br>This project is for saving contact details in the database and user can delete or update his contacts.
        </p>
    </div>
</section>

</body>
</html>